*:focus {
	outline: none;
}
html, body {
  height: 100%;
}
body{
	margin: 0;
	padding: 0;
	font-size: 20px;
	display: flex;
		flex-direction: column;
}
h1 {
	font-size: 3.5em;
}

h2 {
	color: #FFF;
	text-align: center;
	font-size: 3em;
}

h1,
h2,
h4 {
	margin: 0;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	line-height: 1;
	letter-spacing: 3px;
}
h4 {
	display: inline-block;
}
p {
	font-family: 'Inconsolata', monospace;
	line-height: 1.5;
}
.content {
  flex: 1 0 auto;
}
#header {
	background-color: #CDEF36;
	padding-bottom: 3%;
}
.img-wrap { 
	display: inline-block;
}
#form-container {
	text-align: center;
}
#heading {
	width: 60%;
	margin: 0 auto;
	padding-top: 5%;
}
#sub-heading {
	width: 40%;
	float:right;
}
form {
	margin-bottom: 10px;
}
input {
	background-color: transparent;
	border-radius: 0;
	border: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	cursor: pointer;
}
input[type='text'] {
	border-bottom: 1px solid #fff;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #c4e530;
  font-size: 14px;
  text-align: center;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #c4e530;
  font-size: 14px;
  text-align: center;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #c4e530;
  font-size: 14px;
  text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
  color: #c4e530;
  font-size: 14px;
  text-align: center;
}
#heading h2:first-of-type {
	margin-right: 25%;
}
#heading h2:last-of-type {
	margin-left: 25%;
}
#gif-tn-wrap {
	padding: 0 2% 2% 30%;
}
#gif-tn-wrap h4 {
	font-size: 1.7em;
	margin-left: -7px;
	margin-top: 15px;
}
.border-x {
	min-height: 150px;
	border-left: 2px solid #000;
	margin-top: -60px;

}
#btn-header {
	padding-top: 150px;
}
#btn-header h1, #btn-container {
	margin-left: 15px;
}
.hide {
	display: none;
}
.show {
	display: inline-block;
}
section {
	padding: 2%;
}
button{
	font-family: 'Inconsolata', monospace;
	border-radius: 0;
	border: none;
	background-color: transparent;
	color: #000;
	font-size: 1.1em;
	margin: 10px;
	line-height: 1.5;
	cursor: pointer;
	border-bottom: 1px solid #fff;
}
button:hover {
	border-bottom: 1px solid #CDEF36;
}
.btn:first-of-type {
	margin-left: 0;
}

.btn:last-of-type {
	margin-right: 0;
	border-right: none;
}
#gif-wrap {

}
#img-container {
	width: 85%;
	margin: 0 auto;
	text-align: center;
}
#to-top {
	background-color: #FFF;
	float: right;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	border:1px solid #000;
	text-align: center;
	cursor: pointer;
	position: fixed;
	z-index: 1000;
	top: 20px;
	right: 20px;
}

/*#to-top:hover {
	border:1px solid #CDEF36;
}*/
#to-top p{
	margin: 10px;
}
.img-wrap {
	text-align: center;
	margin: 10px;
	border-bottom: 2px solid #000;
	padding: 0;
}
.img-wrap img {
	width: 200px;
	height: 200px;
}
.img-wrap p {
	font-size: 1em;
}
footer {
	border-top: 2px solid #000;
	text-align: center;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
@media only screen and (max-width: 739.98px) { 
	body{
		font-size: 16px;
	}
	section {
		padding: 3%;
	}
	#header {
		padding-bottom: 15%;
	}
	#heading {
		width: 100%;
	}
	#sub-heading {
		width: 75%;
		float: left;
	}
	#gif-tn-wrap {
	    padding: 0 3% 2%;
	}
	.border-x {
	    min-height: 100px;
	}
	#btn-header {
	    padding-top: 110px;
	}
	button {
		font-size: 1em;
	}
	#img-container {
		width: 100%;
		text-align: center;
	}
	.img-wrap {
		margin: 40px;
		padding: 0 40px
	}
	.img-wrap p {
		font-size: 1.4em;
	}
}